
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="Section">
    <div class="left">
        <h3>C#</h3>
        <ul>
            <li><a href="https://github.com/MarcoJankovic/TheZoo.git">Zoo Project</a>
                <br /> 
                This is a csharp project with animals
            </li>
            <li><a></a></li>
        </ul>
    </div>

    <div class="middle">
        <h3>Html & CSS</h3>
    </div>

    <div class="right">
        <h3>Javascript</h3>
    </div>
</div>
